<article class="container py-5">
    <h1 class="my-5 text-center"> New Restaurant </h1>

    <%= render "form", restaurant: @restaurant %>

    <%= link_to "Back", restaurants_path, class: "btn btn-outline-primary w-100" %>
</article>
